html,
body {
    margin:0;
    padding:0;
}

#container{
    margin: 0;
    padding: 0;
    height: 700px;
}

header {
    position:fixed;
    top:0;
    width:100%;
    height:40px;
    padding:0;
}

#main {
    padding-top:100px;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #090909;
}

footer #author{
    text-align: center;
}

#estado{
    text-align: center;
}

#signUp{
    margin: 0 auto;
    width:250px;
}

#login{
    margin: 0 auto;
    width:250px;
}

/*
with !important you can override bootstrap css
 */

